.footer {
  background: rgba(201, 167, 160, 0.4);

  .footer-inner {
    display: grid;
    padding-top: 31px;
    padding-bottom: 48px;
    grid-template-columns: 1fr auto;
    grid-template-rows: 70px 1fr auto;
  }

  .footer-image-box {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .footer-logo-icon_pc {
    height: 100%;
  }

  .link-area {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 4;
    padding-top: 13px;
    display: grid;
    gap: 10px;
    text-align: start;
  }

  .footer-link-text {
    font-weight: 400;
    color: #816568;
    font-size: var(--font-size-lg);
  }

  .footer-menu-area {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    align-items: end;
  }

  .footer-menu-list {
    display: flex;
    gap: 40px;
    margin-top: 0;
    margin-bottom: 0;
  }

  .footer-menu-item {
    font-size: var(--font-size-base);
    color: var(--color-dimgray-200);
  }

  .footer-menu-link {
    color: var(--color-dimgray-200);
  }

  .copyright-area {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .copyright-text {
    font-size: var(--font-size-xs);
    color: #816568;
    text-align: end;
  }
}