/* variable */

:root {
  /* fonts */
  --font-noto-serif-jp: "Noto Serif JP";
  --font-playfair-display: "Playfair Display";
  --font-charmonman: Charmonman;

  /* font sizes */
  --font-size-xs: 12px;
  --font-size-base: 16px;
  --font-size-lg: 18px;
  --font-size-lgi: 19px;
  --font-size-7xl: 26px;
  --font-size-19xl: 38px;
  --font-size-13xl: 32px;
  --font-size-sm: 14px;
  --font-size-3xs: 10px;
  --font-size-xl: 20px;
  --font-size-2xl: 21px;
  --font-size-3xl: 22px;
  --font-size-mini: 15px;
  --font-size-5xl: 24px;
  --font-size-6xl: 26px;

  /* Colors */
  --color-white: #fff;
  --color-rosybrown-100: #c9a7a0;
  --color-rosybrown-200: #cc94a3;
  --color-rosybrown-300: #c48088;
  --color-rosybrown-400: rgba(201, 167, 160, 0.3);
  --color-rosybrown-500: rgba(201, 167, 160, 0.2);
  --color-rosybrown-600: rgba(201, 167, 160, 0.5);
  --color-rosybrown-700: rgba(201, 167, 160, 0.4);
  --color-rosybrown-800: #F3A291;
  --color-rosybrown-900: #D88DA1;
  --color-darkpink-100: #E0BFC8;
  --color-dimgray-100: #816568;
  --color-dimgray-200: #6e5356;
  --color-dimgray-300: #6c6366;
  --color-dimgray-400: #F4EDEC;
  --color-gray-100: rgba(255, 255, 255, 0.6);
  --color-gray-200: #d9d9d9;
  --color-gray-300: #F6F5F5;
  --color-whitesmoke: #f7f5f5;
  --color-whitesmoke-100: #E8E8EC;
  --color-rightblack: #1E1E1E;
  --color-black: #000;

  /* Gaps */
  --gap-xs-5: 11.5px;
  --gap-xl: 20px;
  --gap-16xl: 35px;
  --gap-5xs: 8px;
  --gap-3xs: 10px;
  --gap-21xl: 40px;
  --gap-smi: 13px;
  --gap-40xl: 59px;
  --gap-10xl: 29px;
  --gap-31xl: 50px;
  --gap-6xl: 25px;
  --gap-2xl: 21px;
  --gap-base: 16px;
  --gap-6xs: 7px;
  --gap-4xs: 9px;
  --gap-4xl: 23px;
  --gap-lg: 18px;
  --gap-3xl: 22px;
  --gap-65xl: 84px;
  --gap-23xl: 42px;

  /* Paddings */
  --padding-12xl: 31px;
  --padding-29xl: 48px;
  --padding-xl: 20px;
  --padding-8xs: 5px;
  --padding-2xl: 21px;
  --padding-3xs: 10px;
  --padding-mini: 15px;
  --padding-mid: 17px;
  --padding-10xl: 29px;
  --padding-11xl: 30px;
  --padding-3xl: 22px;
  --padding-7xl: 26px;
  --padding-6xl: 25px;
  --padding-5xs: 8px;
  --padding-lgi: 19px;
  --padding-10xs: 3px;
  --padding-7xs: 6px;
  --padding-9xs: 4px;
  --padding-xs: 12px;
  --padding-12xs: 1px;
  --padding-21xl: 40px;
  --padding-6xs: 7px;
  --padding-15xl: 34px;
  --padding-5xl: 24px;
  --padding-4xs: 9px;
  --padding-base: 16px;

  /* Width Various */
  --width-main: 1100px;
  --width-various: 889px;
  --width-various2: 1000px;
  --width-picture: 480px;
  --width-picture2: 430px;

  /* Border radiuses */
  --br-11xl: 30px;

  /* header height */
  --header-height-pc: 120px;
  --header-height-tb: 45px;

  /* Break Point */
  --tb-width: 1200px;
  --sp-width: 700px;
}