.c_main-section {

  .main-container {
    position: relative;
  }

  .section-image {
    width: var(--width-picture);
    position: absolute;
    top: -50px;
    z-index: 10;
    box-shadow: 10px 10px var(--color-rosybrown-200);
  }

  .box {
    position: relative;
    width: var(--width-various);
    background: rgb(201, 167, 160, 0.2);
    position: relative;
  }

  .inner {
    min-height: 296px;
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .subheading-text {
    padding-bottom: 21px;
    padding-inline-start: 10px;
    color: var(--color-rosybrown-300);
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid var(--color-rosybrown-300);
    letter-spacing: 2px;
  }

  .subheading-text--english {
    letter-spacing: 5px;
    color: var(--color-rosybrown-300);
  }

  .main-text {
    padding-inline-start: 10px;
    color: var(--color-dimgray-200);
    padding-top: 23px;
    font-size: var(--font-size-base);
    line-height: var(--font-size-5xl);
    letter-spacing: 1px;
  }

  .button-area {
    display: flex;
  }

  .detail-button {
    margin-inline-start: auto;
    background: var(--color-rosybrown-200);
    color: var(--color-white);
    padding: 3px 4px;
    border: none;
  }

  .inner-frame {
    display: flex;
    align-items: center;
    gap: 11px;
    border: 1px solid var(--color-white);
    padding: 6px 25px;
  }

  .detail-text {
    font-size: 15px;
    letter-spacing: 3px;
    font-weight: bold;
    color: var(--color-white);
  }

  .detail-english {
    font-size: 10px;
    color: var(--color-white);
  }

  .subtext {
    position: absolute;
    font-size: var(--font-size-13xl);
    letter-spacing: 0.05em;
    font-weight: 400;
    font-family: var(--font-charmonman);
    color: var(--color-rosybrown-100);
    text-align: right;
    display: inline-block;
    transform-origin: 0 0;
  }
}

.school-section {
  padding-top: 150px;
}

.beginner-section {
  padding-top: 110px;
}

.class-section {
  padding-top: 114px;

  .section-image {}

  .box {
    margin-left: auto;
    padding: 30px 40px 34px calc(var(--width-various) + var(--width-picture) + 50px - 100%);
  }

  .button-area {
    justify-content: end;
  }

  .subtext {
    top: -43px;
    right: -23px;
    transform: rotate(8.94deg);
  }
}

.price-section {
  padding-top: 59px;

  .main-container {
    padding-top: 34px;
    padding-bottom: 40px;
    display: flex;
    flex-direction: column;
    background: var(--color-rosybrown-200);
    gap: 12px;
    align-items: center;
    position: relative;
    min-height: 200px;
  }

  .heading-text {
    font-size: var(--font-size-lg);
    letter-spacing: 0.2em;
    font-weight: 400;
    color: var(--color-white);
  }

  .button {
    padding: var(--padding-7xs) 61px var(--padding-6xs);
    background-color: var(--color-white);
    border-radius: var(--br-11xl);
    color: var(--color-rosybrown-200);
    font-weight: bold;
    font-size: var(--font-size-7xl);
    border: none;
    letter-spacing: 0.2em;
  }

  .bottom-text {
    letter-spacing: 0.2em;
    font-weight: 500;
    color: var(--color-white);
    letter-spacing: 0.2em;
  }

  .price-ribon {
    position: absolute;
    z-index: 10;
  }

  .price-ribon--topright {
    top: 0;
    right: 0;
  }

  .price-ribon--bottomleft {
    bottom: 0;
    left: 0;
  }
}

.parallel-group {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  padding-top: 50px;

  .c_inner-section {
    display: grid;
    grid-template-rows: 1fr auto 1fr;
    padding: 26px 25px 12px;
    border-bottom: 6px solid var(--color-rosybrown-200);
    background: var(--color-whitesmoke);

    .heading-box {
      display: flex;
      align-items: center;
      padding-inline-start: 125px;
      gap: 22px;
    }

    .heading-text {
      color: var(--color-rosybrown-200);
      font-size: var(--font-size-xl);
      font-weight: 400;
      letter-spacing: 0.2em;
    }

    .subheading-text {
      font-size: var(--font-size-base);
      color: rgba(201, 167, 160, 0.5);
    }

    .list-area {
      font-size: var(--font-size-sm);
      padding-top: 17px;
    }

    .list-table {
      vertical-align: middle;
    }

    .item {
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 10px;
    }

    .item:not(:last-child) {
      border-bottom: 1px solid rgba(201, 167, 160, 0.5);
    }

    .item-link {
      display: grid;
      grid-template-columns: min-content auto;
      gap: 10px;
    }

    .text-portion {
      display: flex;
      gap: 23px;
      color: var(--color-black);
    }

    .square {
      width: 10px;
    }

    .square-icon {
      font-size: 8px;
      color: var(--color-rosybrown-100);
    }

    .date {
      width: 75px;
    }

    .content {}

    .bottom-box {
      padding-top: 11px;
    }

    .more-link {
      display: flex;
      justify-content: end;
      align-items: center;
      gap: 4px;
      color: var(--color-rosybrown-100);
    }

    .triangle-icon {
      color: var(--color-rosybrown-100);
    }

    .bottom-text {
      color: var(--color-rosybrown-100);
      font-size: var(--font-size-sm);
    }
  }

}
